<html lang="ru">
 <head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<title>{{title}}</title>

 	<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
 	<link href="{{ url_for('static', filename='css/sendsms.css')}}" rel="stylesheet">

 </head>

 <body>

 	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Send sms</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Отправить</a></li>
            <li><a href="#about">О программе</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="sendsms">
        <h1>Send SMS python application for FreePBX!</h1>

 	    <p>Hello,{{user.nickname}}</p>

      </div>

    </div><!-- /.container -->

    <script src="{{ url_for('static',filename ='js/jquery-1.12.2.min.js')}}"></script>
    <script src="{{ url_for('static', filename ='js/bootstrap.min.js')}}"></script>

 </body>	

</html>